// Custom variables (override)
@import "customVariables";

// Bootstrap and its default variables
@import "bootstrap";

/*** Custom CSS ***/

// Variables

$blue-primary: #006bb6;
$blue-secondary: #bfdaec;
$black: #1d1d1b;
$gray: #f2f2f2;
$white: #ffffff;

// Custom mixins

@mixin wider-gutter {

	.container,
	div[class^="col"] {
	    padding-right: 15px;
	    padding-left: 15px;
	}

	.container-fluid {
		padding-right: 0;
		padding-left: 0;
	}

	.row {
		margin-right: -15px;
	    margin-left: -15px;
	}

}

@mixin ellips {
	overflow: hidden;
    white-space: nowrap;
  	text-overflow: ellipsis;
}

// Normalize

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-size: 0.9rem;
}

img {
	max-width: 100%;
}

// Type

h1, .h1 {
	font-size: 1.7rem;
}

h2, .h2 {
	font-size: 1.3rem;
}

h3, .h3 {
	font-size: 1.1rem;
	font-weight: bold;
}

// Mobile-first styling

// BLocks

.block {
	float: left;
	width: 100%;
	margin-bottom: 2em;
}

.block-heading {
	background-color: $blue-secondary;
	padding: 10px;
	position: relative;
	
	a {
			color: $black;
	}
}

.block-heading h2,
.block-heading h3,
.block-heading h4 {
	margin: 0;
	color: $black;
	@include ellips;
	font-size: 1.1rem;
}

.block-heading-dark {
	background-color: $blue-primary;

	a {
		color: $white;
	}
}

.block-heading-dark h2,
.block-heading-dark h3,
.block-heading-dark h4 {
	color: $white;
}

.block-heading-moreLink {
	position: absolute;
	top: 7px;
	right: 10px;
	color: $white;
	padding: 5px 10px;
	background: $blue-primary;
	font-size: 0.7rem;

	a {
		color: $white;
	}
}

//

// News HP 

.news-next {
	margin-bottom: 1em;
}

.news-item {
	margin-bottom: 1em;
}

.news-next-item {
	height: 100%;
	@extend .bg-gray;
}

.news-next-item-text {
	padding: 10px;
	font-size: 1rem;
	line-height: 1.3;

	a {
		color: inherit;
	}
}


// Important links HP

.bg-gray {
	background-color: $gray;
}

.important-links-list {
	
}

.arrow-style {
	padding: 10px;
	margin: 0;
	list-style: none;

	li {
		margin: 0 0 5px;
	    text-indent: -10px;
	    padding-left: 10px;

		a {
			color: inherit;
		}
	}

	li:before {
		    content: "\f105";
			font-family: "FontAwesome";
			font-weight: bold;
		    padding-right: 5px;
		    font-size: 1rem;
		    color: $blue-primary;
		}

}

// Newsletter HP

.newsletter-signup {
	background-color: $blue-secondary;
	text-align: center;
	padding: 5px 10px 10px 10px;
}

.newsletter-signup-text {
	margin: 10px 0 13px;
}

.newsletter-signup-button {
	background-color: $blue-primary;
	color: $white;
	padding: 5px 10px;

	a {
		color: $white;
	}
}

// Middle HP 

.bg-container {
	background-color: $gray;
	padding-top: 2em;
	margin-bottom: 2em;
}

.middle-content {
	float: left;
	width: 100%;
	padding: 12px 15px;
	background-color: $white;

	a {color: inherit;}

	ul {
		padding: 20px 0 0 0;
		margin: 0;
		list-style: none;

		li:before {
		    content: "\f105";
			font-family: "FontAwesome";
		    padding-right: 5px;
		    font-size: 0.8rem;
		    position: relative;
		    bottom: 2px;
		    color: $blue-primary;
		}
	}
}

/***/

.hejtman-content-left,
.o-kraji-content-left {
	float: left;
}

.hejtman-content-right,
.o-kraji-content-right {
	float: right;
}

/***/

.symbols-content {
	height: 80%;
	align-items: center;
	justify-content: center;
	display: flex;
}

// Bottom HP

.bottom-tile {
	float: left;
	margin-bottom: 5px;
	width: 100%;
}

.bottom-tile-heading {
	background-color: $blue-primary;
	padding: 10px 12px;

	h3 {
		margin: 0;
		color: $white;
		font-size: 1rem;

		a {
			color: $white;
		}
	}
}

.bottom-tile-content {
	display: none;

	img {
		float: left;
		border-right: 1px solid #d9d8d8;
		border-bottom: 1px solid #d9d8d8;
		border-left: 1px solid #d9d8d8;
	}
}

// Footer

.footer {
	background-color: $blue-primary;
	color: $white;
	font-size: .9rem;
	padding: 1em 0;
	margin-top: 2em;

	a {
		color: $white;
	}
}

.footer-left-top {
	margin-bottom: 2rem;
	h3 {
		font-weight: bold;
	}
}

.footer-list {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin-bottom: 2px;
	}
}

.footer-right-menu {
	text-align: center;
	margin-bottom: 2.5em;
}

.footer-menu {
	list-style: none;
	margin-bottom: 1rem;
	padding: 0;

	li {
		margin-bottom: 5px;
	}
}

.footer-menu-languages {

	display: inline-block;
	margin: 0 auto;

	li {
		float: left;
		margin: 0 0 5px 11px;
		padding: 0 0 0 10px;
		border-left: 1px solid $white;
		line-height: 1rem;

		&:first-child {
			border: none;
			margin-left: 0;
			padding-left: 0;
		}
	}
}

.copyright {
	margin-top: 2em;
}



/*********************/
/*** MEDIA QUERIES ***/
/*********************/

/*** Extra small devices ONLY (portrait phones, less than 576px) ***/
@include media-breakpoint-only(xs) {

@include wider-gutter;

// HP News 

.carousel-row {
	margin-left: -5px;
	margin-right: -5px;

	div[class^="col"] {
	    padding-right: 5px;
	    padding-left: 5px;
	}
}

.carousel-row 

// Weather

.weather-info {
	background-color: $blue-secondary;
	padding: 10px;
	position: relative;

	h3 {
		margin: 0;
		color: $black;
		font-size: 1rem;
		font-weight: bold;

		a {
			color: $black;
		}
	}
}

.weather-info-grades {
	position: absolute;
	top: 10px;
	right: 10px;
}

.city {
	display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    padding: 0;
}

.cityName,
.weatherIcon,
.temperature {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	align-self: center!important;
	padding-left: 10px;
	padding-right: 10px;
}

.weatherIcon {
	text-align: center;
}

.temperature  {
	text-align: right;
}

} // end of media-breakpoint-only(xs


/*** Small devices (landscape phones, 576px and up) ***/
@include media-breakpoint-up(sm) {

// Weather

.weather-info {
	float: left;
	padding:  0 10px 10px;

	h3 {
		margin: 0 0 50px;
		color: $black;

		a {
			color: $black;
		}
	}
}

.weather-cities {
	@extend .d-sm-flex;
	width: 80%;
	margin: 0 auto;
}

.city {
	text-align: center;
}

// Bottom HP

.bottom-tile-heading {

	h3 {
		@include ellips;
	}

}

// Footer 

.footer {
	padding: 2em 0;
}

.footer-right-menu {
	float: right;
	text-align: right;
}

.footer-menu {
	float: right;
	clear: right;

	li {
		float: left;
		margin: 0 0 5px 11px;
		padding: 0 0 0 10px;
		border-left: 1px solid $white;
		line-height: 1rem;

			&:first-child {
			border: none;
			margin-left: 0;
			padding-left: 0;
		}
	}
}

.copyright {
	float: right;
	text-align: right;
}

} // end of media-breakpoint-up(sm)



/*** Medium devices (tablets, 768px and up) ***/
@include media-breakpoint-up(md) {

// Type

h1, .h1 {
	font-size: 2.5rem;
}

h2, .h2 {
	font-size: 2rem;
}

// Middle HP

.bg-container {
	padding-bottom: 2em;
}

.middle-block {
	height: 100%;
	background-color: $white;
	margin-bottom: 0;
}

.middle-heading {
	h3 {
		@include ellips;
	}
}

// Bottom HP

.bottom-tile {
	margin-bottom: 1.5em;
}

.bottom-tile-heading {

}

.bottom-tile-content {
	display: block;
}

// Footer

.footer {
	margin-top: 0.5em;
}

} // end of media-breakpoint-up(md)



/*** Large devices (desktops, 992px and up) ***/
@include media-breakpoint-up(lg) {

.weather-cities {
	width: 75%;
}	

} // end of media-breakpoint-up(lg)



// Medium devices (tablets, 768-991 px)
@include media-breakpoint-only(md) {

.hejtman-content-right,
.o-kraji-content-right {
	display: none;
}	

.bottom-tile-heading {
	h3 {
		font-size: .8rem;
	}
}

} // end of media-breakpoint-only(md)


// Large devices (desktops, 992-1200 px)
@include media-breakpoint-only(lg) {


//

.hejtman-content-right,
.o-kraji-content-right {
	max-width: 30%;
}

//

.bottom-tile-heading {
	h3 {
		font-size: .9rem;
	}
}

} // end of media-breakpoint-only(lg)