// Custom variables (override)
@import "customVariables";

// Custom Fonts
@import "customFonts"; // icons

// Bootstrap and its default variables
@import "bootstrap";

/*** Custom CSS ***/

// Variables

$blue-primary: #006bb6;
$blue-secondary: #bfdaec;
$black: #1d1d1b;
$gray: #f2f2f2;
$white: #ffffff;
$hover-yellow: #ffdf00;
$hover-blue: #003a9e; 
$input-border: #aaaaaa;

// Custom mixins

@mixin wider-gutter {

	.container,
	div[class*="col-"] {
	    padding-right: 15px;
	    padding-left: 15px;
	}

	.container-fluid {
		padding-right: 0;
		padding-left: 0;
	}

	.row {
		margin-right: -15px;
	    margin-left: -15px;
	}

}

@mixin ellips {
	overflow: hidden;
    white-space: nowrap;
  	text-overflow: ellipsis;
}

// Normalize

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-size: 0.9rem;
}

img {
	max-width: 100%;
}

a {
	color: $blue-primary;
}

// Inputs

input[type="text"] {
	border: 1px solid $input-border;
	background: #fff;
	padding: 7px 10px;
	width: 100%;
	border-radius: 0;

	&:focus {
		border-color: $blue-primary;
	}
}

button:focus {
	outline: 0;
}

// Type

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 1rem;
}

h1, .h1 {
	font-size: 1.7rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 1.5rem;
}

h2, .h2 {
	font-size: 1.3rem;
}

h3, .h3 {
	font-size: 1.1rem;
	font-weight: bold;
}

h4, .h4 {
	font-size: 1rem;
	font-weight: bold;
}

ol {
	li {
		margin-bottom: 10px;
		padding-left: 10px;
	}
}

.page-content ul {
	li {
		margin-bottom: 5px;
	}
}

// Mobile-first styling

// Layout

.sidebar {
	margin-top: 2em;
}
.page-content {
	margin-top: 2em;
	margin-bottom: 2em;
}

// Sidebar 

.sidebar .block-heading {
	padding-left: 15px;
	padding-right: 15px;
}

.sidebar-menu-heading {
	cursor: pointer;

	h3::before {
		font-family: "FontAwesome";
		content: "\f0c9";
		padding-right: 10px;
	}
}
	

// Sidebar-menu

.sidebar-menu {
	display: none;
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		margin: 0;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	a {
		color: inherit;
		padding: 7px 15px;
		display: block;

		&:hover {
			text-decoration: none;
		}
	}

	& > li > a { // 1st level
		background-color: #ececec;
		border-top: 2px solid #e3e3e3;

		&:hover {
			color: $blue-primary;
		}

		&.selectedMenu {
			font-weight: bold;
		}
	}

	& > li > ul > li > a { // 2nd level
		padding-left: 15px;
		background-color: #f6f6f6;
		border-left: 1px solid #e3e3e3;
		border-right: 1px solid #e3e3e3;

		&:hover {
			color: $blue-primary;
		}

		&.selectedMenu {
			font-weight: bold;
		}

		&::before {
			content: "—";
			padding-right: 10px;
		}
	}

	& > li > ul > li > ul > li > a { // 3rd level
		padding-left: 45px;
		border-left: 1px solid #e3e3e3;
		border-right: 1px solid #e3e3e3;
		font-size: 0.85rem;

		&:hover,
		&.selectedMenu {
			background-color: $hover-yellow;
		}
	}
}



// BLocks

.block {
	float: left;
	width: 100%;
	margin-bottom: 2em;
}

.block-heading {
	background-color: $blue-secondary;
	padding: 10px;
	position: relative;
	
	a {
			color: $black;
	}
}

.block-heading h2,
.block-heading h3,
.block-heading h4 {
	margin: 0;
	color: $black;
	@include ellips;
	font-size: 1.1rem;
}

.block-heading-dark {
	background-color: $blue-primary;

	a {
		color: $white;
	}
}

.block-heading-dark h2,
.block-heading-dark h3,
.block-heading-dark h4 {
	color: $white;
}

.btn-blue {
	color: $white !important;
	padding: 5px 12px;
	background-color: $blue-primary;
	font-size: 0.8rem;
	display: inline-block;

	&:hover {
		color: $hover-yellow !important;
		text-decoration: none;
		background-color: $hover-blue;
	}

	&::before {
		content: "\f061";
		font-family: "FontAwesome";
		margin-right: 7px;
	}
}

.block-heading-moreLink a {
	position: absolute;
	top: 7px;
	right: 10px;
}

// Documents

.itemAddInfoC {
	margin-top: 3em;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

//////////////////////////////

// Header

.container-header {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(199,199,199,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(199,199,199,1);
	box-shadow: 0px 0px 5px 0px rgba(199,199,199,1);
	padding-top: 20px;
}


.top {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

// Search Form

.mobile-top-search {
	display: none;
}

.top-search {
	align-self: flex-end;
}

.searchForm {

	form {
		display: flex;
	}
}

input.searchFormT {
	font-size: 0.8rem;
	margin: 0;
	border: 1px solid $blue-primary;
}

.searchSubmit {
	padding: 7px 15px 5px 35px;
	font-size: 0.9rem;
	margin: 0;
	border: 0;
	color: $white;
	background: url("../images/icon-search.png") no-repeat 12px center $blue-primary;
	cursor: pointer;
}

// Top Socials

.top-socials {
	order: -1;
    align-self: flex-end;
    margin-bottom: 10px;
}

.top-socials-item {
	float: left;
	margin-left: 15px;

	a:hover {
		color: $hover-blue;
	}

	i {
		font-size: 2rem;
	}
}

// Header Menu

.nav-toggle {
	text-align: left;
	width: 100%;
	border: 0;
	padding: 7px 10px;
	font-size: 1rem;
	color: $blue-primary;
	border: 1px solid $blue-primary;
	background-color: $white;
	cursor: pointer;

	i {
		margin-right: 5px;
	}
}

// Breadcrumbs

.breadcrumbs-container {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	background-color: $gray;
}

.breadcrumbs {
	list-style: none;
	padding: 12px 0 0;
	margin: 0;

	li {
		display: inline-block;
		margin: 0 5px 12px 0px;
		font-size: 0.8rem;

		&::after {
			content: "\f105";
			font-family: "FontAwesome";
			font-weight: bold;
		    padding-left: 10px;
		    color: $blue-primary;
		}

		&:last-child::after {
			display: none;
		}

		&:last-child a {
			color: inherit;
		}
	}
}

// Tiles HP

.hp-tiles {
	margin-top: 20px;
	margin-bottom: 20px;
}

.hp-tile {
	display: block;
	padding: 10px;
	margin-bottom: 5px;
	font-size: 0.9rem;
	color: $white;
	background-color: $blue-primary;
	
	&:hover,
	&:hover::before {
		color: $hover-yellow;
	}

	&:hover {
		background-color: $hover-blue;
	}
}

.hp-tile::before {
	font-family: 'icomoon' !important;
  	speak: none;
  	font-style: normal;
  	font-weight: normal;
  	font-variant: normal;
  	text-transform: none;
  	line-height: 1;
  	font-size: 1.25rem;
  	margin-right: 10px;
  	position: relative;
  	bottom: -2px;

  	/* Better Font Rendering =========== */
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

.hp-tile1::before {
	content: "\e906";
}

.hp-tile2::before {
	content: "\e905";
}

.hp-tile3::before {
	content: "\e900";
}

.hp-tile4::before {
	content: "\e902";
}

.hp-tile5::before {
	content: "\e901";
}

.hp-tile6::before {
	content: "\e903";
}

.hp-tile7::before {
	content: "\e907";
}

.hp-tile8::before {
	content: "\e908";
}

.hp-tile9::before {
	content: "\e904";
}


// News HP 

.carousel-controls {
	
}

.carousel-control-item {
	opacity: 0.8;
	cursor: pointer;
	color: $white;
	position: absolute;
	top: 50px;
	z-index: 5;

	&:hover {
		opacity: 1;	
	}

	&::before {
		font-family: "FontAwesome";
		font-size: 2rem;
	}
}

.carousel-control-item-prev {
	left: 20px;

	&::before {
		content: "\f0a8";
	}
}

.carousel-control-item-next {
	right: 20px;

	&::before {
		content: "\f0a9";
	}
}

.news-items {
	margin-bottom: 10px;
	position: relative;
}

.news-itemC {
	margin-bottom: 15px;
	@extend .col-6;

	&:first-child {
		@extend .col-12;
		margin-bottom: 20px;

		.news-item-text {
			padding: 12px 12px;
			background-color: $blue-primary;
			margin-bottom: 20px;
			font-size: 1.3rem;
			font-weight: bold;
			margin: 0;
			color: $white;

			&:hover {
				background-color: $hover-blue;
			}

			a:hover {
				text-decoration: none;
			}
		}
	}
}

.news-item {
	height: 100%;
	@extend .bg-gray;

	&:hover {
		background-color: lighten($hover-yellow, 25%);
	}

	a:hover {
		text-decoration: none;
	}
}

.news-item-text {
	padding: 10px;
	font-size: 1rem;
	line-height: 1.3;

	a {
		color: inherit;
	}
}

.moreLink-mobile {
	display: none;
}


// Important links HP

.bg-gray {
	background-color: $gray;
}

.important-links-list {
	
}

.arrow-style {
	padding: 10px;
	margin: 0;
	list-style: none;

	li {
		margin: 0 0 5px;
	    text-indent: -10px;
	    padding-left: 10px;

		a {
			color: inherit;

			&:hover {
				color: $blue-primary;
			}
		}
	}

	li:before {
		    content: "\f105";
			font-family: "FontAwesome";
			font-weight: bold;
		    padding-right: 5px;
		    font-size: 1rem;
		    color: $blue-primary;
		}

}

// Video Channel

.video-channel-content {
	position: relative;
}

.moreLink-tablet-only {
	display: none;
	text-align: center;
    margin-top: 15px;
}

.iframe-placeholder {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	cursor: pointer;
}

.modal-dialog {
	max-width: 800px;
	margin: 30px auto;
}

.modal-close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
  background: none;
  border: none;
  cursor: pointer;
}

// Newsletter HP

.newsletter-signup {
	background-color: $blue-secondary;
	//text-align: center;
	padding: 5px 10px 10px 10px;
}

.newsletter-signup-text {
	margin: 5px 0 10px;
}

.newsletter-signup-text-title {
	margin-bottom: 10px;
	display: block;
	font-weight: bold;
}

.personal-agree {
	padding-bottom: 5px;

	label {
		display: inline;
		font-size: 0.8rem;
		padding-right: 5px;
	}

	input[type="checkbox"] {
    	position: relative;
		top: 3px;
	}

}

.newsletter-input {
	margin-bottom: 10px;

	input {
		text-align: center;
	}
}

.newsletter-signup-button a {
	
	color: $white;
	text-align: center;
	margin-bottom: 10px;
	background-color: $blue-primary;
	padding: 8px 10px;
	display: block;
	color: $white;
	
	&:hover {
		background-color: $hover-blue;
		color: $hover-yellow;
		text-decoration: none; 
		
	}
}

.newsletter-personal-agree-link {
	font-size: 0.8rem;
}

// Middle HP 

.bg-container {
	background-color: $gray;
	padding-top: 2em;
	margin-bottom: 2em;
}

.middle-content {
	float: left;
	width: 100%;
	padding: 12px 15px;
	background-color: $white;

	a {color: inherit;}

	ul {
		padding: 20px 0 0 0;
		margin: 0;
		list-style: none;

		li:before {
		    content: "\f105";
			font-family: "FontAwesome";
		    padding-right: 5px;
		    font-size: 0.8rem;
		    position: relative;
		    bottom: 2px;
		    color: $blue-primary;
		}
	}
}

/***/

.hejtman-content-left,
.o-kraji-content-left {
	float: left;
}

.hejtman-content-right,
.o-kraji-content-right {
	float: right;
}

/***/

.symbols-content {
	height: 80%;
	align-items: center;
	justify-content: center;
	display: flex;
}

// Bottom HP

.bottom-tile {
	float: left;
	margin-bottom: 5px;
	width: 100%;

	&:hover .bottom-tile-heading {
		background-color: $hover-blue;

		* {
			color: $hover-yellow;
			text-decoration: none;
		}
	}
}

.bottom-tile-heading {
	background-color: $blue-primary;
	padding: 10px 12px;

	h3 {
		margin: 0;
		color: $white;
		font-size: 1rem;

		a {
			color: $white;
		}
	}
}

.bottom-tile-content {
	display: none;

	img {
		float: left;
		border-right: 1px solid #d9d8d8;
		border-bottom: 1px solid #d9d8d8;
		border-left: 1px solid #d9d8d8;
	}
}

// Footer

.footer {
	background-color: $blue-primary;
	color: $white;
	font-size: .9rem;
	padding: 1em 0;
	margin-top: 2em;

	a {
		color: $white;
	}
}

.footer-left-top {
	margin-bottom: 2rem;
	h3 {
		font-weight: bold;
	}
}

.footer-list {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin-bottom: 2px;
	}
}

.footer-right-menu {
	text-align: center;
	margin-bottom: 2.5em;
}

.footer-menu {
	list-style: none;
	margin-bottom: 1rem;
	padding: 0;

	li {
		margin-bottom: 5px;
	}
}

.footer-menu-languages {

	display: inline-block;
	margin: 0 auto;

	li {
		float: left;
		margin: 0 0 5px 11px;
		padding: 0 0 0 10px;
		border-left: 1px solid $white;
		line-height: 1rem;

		&:first-child {
			border: none;
			margin-left: 0;
			padding-left: 0;
		}
	}
}

.copyright {
	margin-top: 2em;
}



/*********************/
/*** MEDIA QUERIES ***/
/*********************/

/*** XXS devices ONLY (less than 400px) ***/

@media all and (max-width: 470px) {

.top-search {
	display: none;
}

.mobile-top-search {
	display: block;
	margin: 0 0 20px 0;

	.searchFormT {
		width: 100%;
	}
}

}


/*** Extra small devices ONLY (portrait phones, less than 576px) ***/

@include media-breakpoint-only(xs) {

@include wider-gutter;

// Header Menu

.top-navigation {
	margin-bottom: 20px;
}

.top-navigation ul {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		a {
			color: inherit;
			display: block;
			padding: 9px 10px 8px;
			background-color: #ececec;
    		border-top: 2px solid #e3e3e3;

			&:hover {
				background-color: $white;
				text-decoration: none;
			}
		}
	}
}

// Breadcrumbs

.breadcrumbs {
    padding: 8px 0 0;

 	li {
	    margin: 0 5px 8px 0px;
	}
}

// HP News 

.news .block-heading-moreLink {
	display: none;
}

.moreLink-mobile {
	display: inherit;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
}

.carousel-row {
	margin-left: -5px;
	margin-right: -5px;

	div.news-itemC {
	    padding-right: 5px;
	    padding-left: 5px;
	}
}



// Weather

.weather-info {
	background-color: $blue-secondary;
	padding: 10px;
	position: relative;

	h3 {
		margin: 0;
		color: $black;
		font-size: 1rem;
		font-weight: bold;

		a {
			color: $black;
		}
	}
}

.weather-info-grades {
	position: absolute;
	top: 10px;
	right: 10px;
}

.city {
	display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    padding: 0 !important;
}

.cityName,
.weatherIcon,
.temperature {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	align-self: center!important;
	padding-left: 10px;
	padding-right: 10px;
}

.weatherIcon {
	text-align: center;
}

.temperature  {
	text-align: right;
}

} // end of media-breakpoint-only(xs


/*** Small devices (landscape phones, 576px and up) ***/
@include media-breakpoint-up(sm) {

// Header menu

.nav-toggle {
	display: none;
}

.top-navigation {
	float: right;
	margin-top: 5px;

	ul {
		display: block !important;
		padding: 0;
		margin: 0;

		li {
		    float: left;
		    list-style: none;
		    

		    a {
			    padding-top: 5px;
			    padding-bottom: 5px;
			    padding-left: 10px;
			    padding-right: 9px;
			    display: inline-block;
			    border-right: 1px solid $blue-primary;
			    font-size: 0.8rem;
			    font-weight: bold;

			    &:hover {
			    	text-decoration: none;
			    	background: $hover-yellow;
			    }
		    }
		}


		li:last-child a {
			padding-right: 0;
			border-right: 0;
		}
	}
}

// News HP

.carousel-control-item {
	top: 90px;

	&::before {
		font-size: 2.5rem;
	}
}



// Weather

.weather-info {
	float: left;
	padding:  0 10px 10px;

	h3 {
		margin: 0 0 50px;
		color: $black;

		a {
			color: $black;
		}
	}
}

.weather-cities {
	@extend .d-sm-flex;
	width: 81%;
	margin: 0 auto;
}

.city {
	text-align: center;
}

// Bottom HP

.bottom-tile-heading {

	h3 {
		@include ellips;
	}

}

// Footer 

.footer {
	padding: 2em 0;
}

.footer-right-menu {
	float: right;
	text-align: right;
}

.footer-menu {
	float: right;
	clear: right;

	li {
		float: left;
		margin: 0 0 5px 11px;
		padding: 0 0 0 10px;
		border-left: 1px solid $white;
		line-height: 1rem;

		&:first-child {
			border: none;
			margin-left: 0;
			padding-left: 0;
		}
	}
}

.copyright {
	float: right;
	text-align: right;
}

} // end of media-breakpoint-up(sm)



/*** Medium devices (tablets, 768px and up) ***/
@include media-breakpoint-up(md) {

// Type

h2, .h2 {
	font-size: 1.4rem;
}



.top {
	float: right;
	flex-direction: row;
}

.top-socials {
	margin-top: 3px;
	margin-left: 20px;
	margin-bottom: 0;
	order: inherit;
}


// Header menu

.top-navigation {
	margin-top: -5px;
	
	ul {

		li a {
		    padding-top: 5px;
		    padding-bottom: 5px;
		    padding-left: 15px;
		    padding-right: 14px;
		    font-size: 0.9rem;
		}
	}
}

// HP Tiles

.hp-tile {
	text-align: center;
	margin-bottom: 20px;
}	

.hp-tile::before {
  	font-size: 2.2rem;
  	display: block;
  	text-align: center;
  	margin-bottom: 10px;
  	margin-top: 5px;
  	margin-right: inherit;
  	position: static;
  	bottom: inherit;
}

//  Video

.iframe-placeholder {
	display: block;
}

// Middle HP

.bg-container {
	padding-bottom: 2em;
}

.middle-block {
	height: 100%;
	background-color: $white;
	margin-bottom: 0;

	&:hover,
	&:hover .middle-content {
		background-color: lighten($hover-yellow, 25%);
	}

	&:hover .block-heading-dark {
		background-color: $hover-blue;

		* {
			color: $hover-yellow;
		}
	}
}

.middle-heading {
	h3 {
		@include ellips;
	}
}

// Bottom HP

.bottom-tile {
	margin-bottom: 1.5em;
}

.bottom-tile-heading {

}

.bottom-tile-content {
	display: block;
}

// Footer

.footer {
	margin-top: 0.5em;
}

} // end of media-breakpoint-up(md)



/*** Large devices (desktops, 992px and up) ***/
@include media-breakpoint-up(lg) {


// Sidebar

.sidebar {
    margin-bottom: 2em;
}

.sidebar-menu-heading {
	cursor: initial;

	h3::before {
		display: none;
	}
}

.sidebar-menu {
	display: block !important;
}

// Page Content

.page-content {
	padding-left: 50px;
}

// Header menu

.top-navigation {
	ul li a {
		font-size: 1rem;
	}
}


//

.hp-tiles {
	margin-top: -40px;
	position: relative;
	margin-bottom: 30px;
}

.hp-tile {
	height: 100%;
	margin-bottom: 0px;
	font-size: 0.8rem;
}	

// News HP

.carousel-control-item {
	top: 120px;

	&::before {
		font-size: 3rem;
	}
}

.news-itemC {
	flex: 0 0 25%;
    max-width: 25%;
}

.news-itemC:first-child .news-item-text {
	font-size: 2.2rem;
}

//

.weather-cities {
	width: 75%;
}	

} // end of media-breakpoint-up(lg)




/*** Extra Large devices (desktops, 1200px and up) ***/
@include media-breakpoint-up(xl) {

// News HP

.carousel-control-item {
	top: 135px;
}

} // end of media-breakpoint-up(xl)


// Medium devices (tablets, 768-991 px)
@include media-breakpoint-only(md) {

.top-navigation {
	margin-top: 0px;

	ul li {
		font-size: 0.8rem;
	}
}

.block-heading-moreLink {
	display: none;
}

.moreLink-tablet-only {
	display: block;
}

.hejtman-content-right,
.o-kraji-content-right {
	display: none;
}	

.bottom-tile-heading {
	h3 {
		font-size: .8rem;
	}
}

} // end of media-breakpoint-only(md)


// Large devices (desktops, 992-1200 px)
@include media-breakpoint-only(lg) {


//

.hejtman-content-right,
.o-kraji-content-right {
	max-width: 30%;
}

//

.bottom-tile-heading {
	h3 {
		font-size: .9rem;
	}
}

} // end of media-breakpoint-only(lg)